<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Manage Event</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="{currentProgramStage: currentProgramStage$ | async, 
    currentUser: currentUser$ | async, 
    currentEvent: currentEvent$ | async,
    eventObject: currentEventDataValueObject$ | async
  } as params">
  <ion-row *ngIf="params.currentProgramStage && params.currentUser">
    <ion-col>
      <form action="">
        <app-date-time [mode]="'date'" [label]="'Incident Date'" [inputValue]="params?.currentEvent?.eventDate"
          (dateTimeChange)="onEventDateUpdate($event, params?.currentEvent)"></app-date-time>
        <div *ngIf="params.currentProgramStage.captureCoordinates">
          <app-coordinate-input></app-coordinate-input>
        </div>
        <div *ngFor="let programStageDataElement of params.currentProgramStage.programStageDataElements">
          <div *ngIf="programStageDataElement.dataElement">
            <event-input-container [dataElement]="programStageDataElement.dataElement"
              [currentUser]="params.currentUser" [data]="params.eventObject || dataObject"
              [dataValuesSavingStatusClass]="dataValuesSavingStatusClass"
              (onChange)="onUpdateData($event, params.currentEvent, params.eventObject)">
            </event-input-container>
          </div>
        </div>
        <ion-button [disabled]="!isFormReady" expand="block" size="large" shape="round" color="success"
          (click)="onSave($event)">Save</ion-button>
      </form>
    </ion-col>
  </ion-row>
</ion-content>
