<ion-content *ngIf="{
    currentProgramStage: currentProgramStage$ | async, 
    currentProgram: currentProgram$ | async, 
    currentTrackedEntityInstance: currentTrackedEntityInstance$ | async, 
    currentOrganisationUnit: currentOrganisationUnit$ | async} as params">
    <div *ngIf="(eventList$ | async).length === 0">
      <ion-card (click)="onAddEvent($event, params)">
        <ion-card-content class="ion-text-center">
          <ion-icon color="warning" size="large" name="alert-circle-outline"></ion-icon>
          <ion-card-subtitle class="ion-margin-top" color="warning">Click plus sign to button below to add data</ion-card-subtitle>
        </ion-card-content>
      </ion-card>
    </div>
  <ion-list class="ion-padding-top">
    <ion-item *ngFor="let event of eventList$ | async" (click)="onManageEvent($event, event)">
      <ion-avatar slot="start" *ngIf="false">
        <img src="assets/icon/rumor.png">
      </ion-avatar>
      <ion-label>
        <p>{{event.eventDate}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button color="light" [routerLink]="['/tracked-entity/stage']">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="onAddEvent($event, params)">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
