.login-block {
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
    padding: 20px 15px 20px 15px;
}

.login-form {
    margin-top: 20px;
    padding: 20px;
}

.login-input {
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 7px;
    border: solid thin var(--ion-color-light);
    border-radius: 3px;
}