<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button (click)="onClose()"></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="{
    program: currentProgram$ | async, 
    currentUser: currentUser$ | async, 
    trackedEntityInstance: currentTrackedEntityInstance$ | async,
    attributeObject: trackedEntityInstanceAttributeValueObject$ | async,
    trackedEntityInstanceDates: trackedEntityInstanceDates$ | async,
    isSavingInstance: isSavingInstance$ | async
  } as params">
  <app-progress-bar *ngIf="params?.isSavingInstance" [isIndeterminateProcess]="true"></app-progress-bar>
  <ion-row *ngIf="params.program && params.trackedEntityInstance">
    <ion-col>
      <form>
        <app-date-time [mode]="'date'" [label]="params.program.enrollmentDateLabel || 'Enrollment Date'"
          [inputValue]="params?.trackedEntityInstanceDates?.enrollmentDate"
          (dateTimeChange)="onTrackedEntityDatesUpdate($event, params?.trackedEntityInstance, 'enrollmentDate')">
        </app-date-time>
        <app-date-time [mode]="'date'" [label]="params.program.incidentDateLabel || 'Incident Date'"
          [inputValue]="params?.trackedEntityInstanceDates?.incidentDate"
          (dateTimeChange)="onTrackedEntityDatesUpdate($event, params?.trackedEntityInstance, 'incidentDate')">
        </app-date-time>
        <!-- TODO: Add support to disabled form fields when saving data -->
        <div
          *ngFor="let programTrackedEntityAttribute of params.program.programTrackedEntityAttributes | sortBy:'sortOrder'">
          <div
            *ngIf="programTrackedEntityAttribute && programTrackedEntityAttribute.trackedEntityAttribute && programTrackedEntityAttribute.trackedEntityAttribute.id && !hiddenFields[programTrackedEntityAttribute.trackedEntityAttribute.id]">
            <tracked-entity-inputs [trackedEntityAttribute]="programTrackedEntityAttribute.trackedEntityAttribute"
              [currentUser]="params.currentUser" [data]="params.attributeObject || dataObject"
              [(trackedEntityAttributesSavingStatusClass)]="trackedEntityAttributesSavingStatusClass"
              [mandatory]="programTrackedEntityAttribute.mandatory"
              (valueChange)="onUpdateAttributesValue($event, params.program.programTrackedEntityAttributes, params.trackedEntityInstance, params.attributeObject)">
            </tracked-entity-inputs>
            <!-- <div *ngIf="errorOrWarningMessage[programTrackedEntityAttribute.trackedEntityAttribute.id]">
              <program-rule-action-message
                [programRuleActionMessage]="errorOrWarningMessage[programTrackedEntityAttribute.trackedEntityAttribute.id]"
                [isEventCompleted]="isEventCompleted"></program-rule-action-message> -->
            <!-- </div> -->
          </div>
        </div>
      </form>

    </ion-col>
  </ion-row>
  <!-- TODO: Disable button when not all required fields are filled in -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [disabled]="params.isSavingInstance" expand="block" size="large" shape="round" color="success"
      (click)="onSave($event)">
      <ion-icon name="save"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
