<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="onViewTrackedEntityList($event)">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Tracked Entity</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/manage-tracked-entity-profile']">
        <ion-icon name="pencil"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-router-outlet></ion-router-outlet>
  <ion-tabs>
    <ion-tab-bar slot="top" color="primary">
      <ion-tab-button tab="profile">
        <ion-icon name="person"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="stage">
        <ion-icon name="albums"></ion-icon>
        <ion-label>Stage</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="relationship">
        <ion-icon name="people"></ion-icon>
        <ion-label>Contacts</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
