.login-block {
  border-bottom-left-radius: 45px;
  border-bottom-right-radius: 45px;
  padding: 20px 15px 20px 15px;
}

.login-form {
  margin-top: 20vh;
  padding: 20px;
}

.login-input {
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 10px;
  // border: solid thin var(--ion-color-light);
  // --background: solid thin var(--ion-color-primary);
  border-radius: 3px;
}

.login-btn {
  margin-top: 10px;
}
