<ion-app color="primary">
  <ion-menu side="start" menuId="first" contentId="main" type="overlay">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item lines="none" [routerLink]="['self-check']">Self Check/Assessment</ion-item>
        <ion-item lines="none" [routerLink]="['rumor']">Report Rumor</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
