<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Self Check/Assessment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-router-outlet id="main"></ion-router-outlet>
  <ion-button class="enroll-button" shape="round" color="success">
    <ion-icon name="person-add-outline"></ion-icon>
    <ion-label>Enroll</ion-label>
  </ion-button>
  <ion-button class="check-up-button" shape="round">
    <ion-icon name="heart-outline"></ion-icon>
    <ion-label>Check up</ion-label>
  </ion-button>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="schedule">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="speakers">
        <ion-icon name="heart-outline"></ion-icon>
        <ion-label>Status</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="map">
        <ion-icon name="stats-chart-outline"></ion-icon>
        <ion-label>Progress</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="about">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>Info</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>
