<ion-content>
  <ion-card color="primary">
    <ion-card-header>
      <ion-card-title>Hello Rajab,</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2>No status update for the last 12 hours</h2>
      <p>Last update 2020-05-20</p>
    </ion-card-content>
  </ion-card>
  <ion-card color="light">
    <ion-card-header>
      <ion-img class="self-check-img" src="assets/icon/spread.svg"></ion-img>
      <ion-card-title class="ion-padding-top">Know How it spreads</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor
        incididunt ut labore et </h2>
      <h2 class="ion-padding-top">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et </h2>
      <h2 class="ion-padding-top">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et </h2>
    </ion-card-content>
  </ion-card>
  <ion-card color="light">
    <ion-card-header>
      <ion-img class="self-check-img" src="assets/icon/wash_hands.svg"></ion-img>
      <ion-card-title class="ion-padding-top">Clean your hands often</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor
        incididunt ut labore et </h2>
      <h2 class="ion-padding-top">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et </h2>
      <h2 class="ion-padding-top">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et </h2>
    </ion-card-content>
  </ion-card>
  <ion-card color="light">
    <ion-card-header>
      <ion-img class="self-check-img" src="assets/icon/social_distancing.svg"></ion-img>
      <ion-card-title class="ion-padding-top">Keep distance</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor
        incididunt ut labore et </h2>
      <h2 class="ion-padding-top">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et </h2>
      <h2 class="ion-padding-top">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et </h2>
    </ion-card-content>
  </ion-card>
  <ion-card color="light">
    <ion-card-header>
      <ion-img class="self-check-img" src="assets/icon/mask.svg"></ion-img>
      <ion-card-title class="ion-padding-top">Masks</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor
        incididunt ut labore et </h2>
      <h2 class="ion-padding-top">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et </h2>
      <h2 class="ion-padding-top">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et </h2>
    </ion-card-content>
  </ion-card>
</ion-content>
