.self-check-block {
  background-color: var(--ion-color-primary);
  color: #ffffff;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.chw-block {
  background-color: #ffffff;
  position: absolute;
  bottom: 0;
  display: block;
  color: #555;
  font-weight: lighter !important;
}
