<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>COVID Tracker</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onShowLanguageList($event)">
        <ion-icon slot="start" name="globe-outline"></ion-icon>
        <ion-label>English</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row class="self-check-block">
    <ion-col class="ion-padding-start ion-padding-end ion-padding-bottom">
      <h4>Self Report daily.</h4>
      <h5 class="ion-text-left">Check if you have covid-19 symptoms and help slow the outbreak!</h5>
      <ion-button class="ion-margin-top" size="large" expand="block" shape="round" color="success" fill="solid"
        [routerLink]="['/self-check']">
        <ion-icon slot="start" name="heart"></ion-icon>
        <ion-label>Self Check now</ion-label>
      </ion-button>
    </ion-col>
  </ion-row>

  <div class="chw-block ion-padding">
    <h5 class="ion-text-center">ARE YOU A COMMUNITY HEALTH WORKER?</h5>
    <h6 class="ion-text-center">Track rumors, follow up on patients and their contacts</h6>
    <ion-button size="large" fill="solid" color="primary" expand="block" shape="round" [routerLink]="['/login']">
      <ion-icon slot="start" name="log-in"></ion-icon>
      <ion-label>Login</ion-label>
    </ion-button>
  </div>

</ion-content>
