<ion-header class="ion-no-border">
  <ion-toolbar color="primary" class="self-check-block">
    <ion-row>
      <ion-col>
        <div class="tracker-title">COVID-19 Tracker</div>
        <div class="tracker-subtitle">Do your own test</div>
        <div class="tracker-description">
          Check if you have any covid-19 symptoms and help slow the outbreak!
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" shape="round" color="success" fill="solid">
          <ion-icon slot="start" name="heart"></ion-icon>
          <ion-label>Self Check now</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="tracker-subtitle ion-text-center ion-margin-top">Take step to protect yourself and others</div>
  <ion-row>
    <ion-col>
      <ion-slides pager="true" [options]="slideOptions">
        <ion-slide>
          <div class="protect-slide">
            <ion-img src="assets/icon/mask.png"></ion-img>
            <div class="tracker-subtitle">Wear Face mask</div>
          </div>
        </ion-slide>
        <ion-slide class="protect-slide">
          <ion-img src="assets/icon/wash_hands.png"></ion-img>
          <div class="tracker-subtitle">Wash your hands</div>
        </ion-slide>
        <ion-slide class="protect-slide">
          <ion-img src="assets/icon/social_distancing.png"></ion-img>
          <div class="tracker-subtitle">Avoid close contacts</div>
        </ion-slide>
      </ion-slides>
    </ion-col>
  </ion-row>

  <div class="chw-block">
    <ion-row>
      <ion-col>
        <ion-img src="assets/icon/chw.svg"></ion-img>
      </ion-col>
      <ion-col>
        <div class="tracker-subtitle">Are you Health worker?</div>
        <div class="tracker-description">
          Track rumors, follow up on patients and their contacts
        </div>
        <ion-button fill="solid" color="primary" expand="block" shape="round">
          <ion-icon slot="start" name="log-in"></ion-icon>
          <ion-label>Login</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
  </div>

</ion-content>
