<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>COVID-19 Tracker</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onShowLanguageList($event)">
        <ion-icon slot="start" name="globe-outline"></ion-icon>
        <ion-label>English</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content color="primary">
  <ion-row>
    <ion-col>
      <div class="tracker-title"></div>
      <div class="tracker-subtitle">Do your own test</div>
      <div class="tracker-description">
        Check if you have any covid-19 symptoms and help slow the outbreak!
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button expand="block" shape="round" color="success" fill="solid" [routerLink]="['/self-check']">
        <ion-icon slot="start" name="heart"></ion-icon>
        <ion-label>Self Check now</ion-label>
      </ion-button>
    </ion-col>
  </ion-row>
  <div class="chw-block">
    <ion-row>
      <ion-col>
        <ion-img src="assets/icon/chw.svg"></ion-img>
      </ion-col>
      <ion-col>
        <div class="tracker-subtitle">Are you Health worker?</div>
        <div class="tracker-description">
          Track rumors, follow up on patients and their contacts
        </div>
        <ion-button fill="solid" color="primary" expand="block" shape="round" [routerLink]="['/login']">
          <ion-icon slot="start" name="log-in"></ion-icon>
          <ion-label>Start now</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
  </div>

</ion-content>
