<ion-content>
  <div *ngIf="isLoading"> 
    <app-metadata-sync [currentUser]="currentUser" (successOnLoginAndSyncMetadata)="onSuccessLogin($event)"  ></app-metadata-sync>
  </div>
  <ion-card color="primary">
    <ion-card-header>
      <ion-card-title>Hello Rajab,</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2>No status update for the last 12 hours</h2>
      <p>Last update 2020-05-20</p>
    </ion-card-content>
  </ion-card>
  <ion-card color="light" *ngFor="let homeContent of homeContents">
    <ion-card-header>
      <ion-img class="self-check-img" [src]="homeContent.icon"></ion-img>
      <ion-card-title class="ion-padding-top"
        >{{ homeContent.title || '' }}</ion-card-title
      >
    </ion-card-header>
    <ion-card-content>
      <h2 *ngFor="let description of homeContent.descriptions">
        {{ description }}
      </h2>      
    </ion-card-content>
  </ion-card>
</ion-content>
