<ion-content>
  <div *ngIf="isLoading"> 
    <app-metadata-sync [currentUser]="currentUser" (successOnLoginAndSyncMetadata)="onSuccessLogin($event)"  ></app-metadata-sync>
  </div>
  <ion-card color="primary">
    <ion-card-header>
      <ion-card-title>Hello Rajab,</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2>No status update for the last 12 hours</h2>
      <p>Last update 2020-05-20</p>
    </ion-card-content>
  </ion-card>
  <ion-card color="light">
    <ion-card-header>
      <ion-img class="self-check-img" src="assets/icon/spread.svg"></ion-img>
      <ion-card-title class="ion-padding-top"
        >Know How it spreads</ion-card-title
      >
    </ion-card-header>
    <ion-card-content>
      <h2>
        There is currently no vaccine to prevent the coronavirus disease 2019
        (COVID-19)
      </h2>
      <h2 class="ion-padding-top">
        The best way to prevent illness is to avoid being exposed to this virus
      </h2>
      <h2 class="ion-padding-top">
        The virus is though to spread mainly from person-to-person
      </h2>
      <h2 class="ion-padding-top">
        Between people who are in close contact with one another (within about 6
        feet)
      </h2>
      <h2 class="ion-padding-top">
        Through respiratory droplets produced when an infected person coughs or
        sneezes
      </h2>
      <h2 class="ion-padding-top">
        These droplets can land in the mouths or noses of people who are nearby
        or possibly be inhaled into the lungs
      </h2>
    </ion-card-content>
  </ion-card>
  <ion-card color="light">
    <ion-card-header>
      <ion-img
        class="self-check-img"
        src="assets/icon/wash_hands.svg"
      ></ion-img>
      <ion-card-title class="ion-padding-top"
        >Clean your hands often</ion-card-title
      >
    </ion-card-header>
    <ion-card-content>
      <h2>
        Wash your hands often with soap and water for atleast 20 seconds
        especially after you have been in a public place, or after blowing your
        nose, coughing or sneezing.
      </h2>
      <h2 class="ion-padding-top">
        If soap and water are not readily available, use a hand sanitizer tjat
        contains atleast 60% alcohol. Cover all surfaces of your hands and rub
        them together until they feel dry
      </h2>
      <h2 class="ion-padding-top">
        Avoid touching your eyes, nose, and mouth with unwashed hands
      </h2>
    </ion-card-content>
  </ion-card>
  <ion-card color="light">
    <ion-card-header>
      <ion-img
        class="self-check-img"
        src="assets/icon/social_distancing.svg"
      ></ion-img>
      <ion-card-title class="ion-padding-top">Keep distance</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2>
        Avoid close contact with people who are sick
      </h2>
      <h2 class="ion-padding-top">
        Put a distance between yourself and other people if COVID-19 is
        spreading in your community. This is especially important for people who
        are at higher risk of getting very sick.
      </h2>
    </ion-card-content>
  </ion-card>
  <ion-card color="light">
    <ion-card-header>
      <ion-img class="self-check-img" src="assets/icon/mask.svg"></ion-img>
      <ion-card-title class="ion-padding-top"
        >Wear face mask if you are sick</ion-card-title
      >
    </ion-card-header>
    <ion-card-content>
      <h2>
        If you are sick you should wear a face mask when you are around other
        people (e.g sharing a room or vehicle) and before you enter a healthcare
        providers office. If you are not able to wear a face mask (for example
        because it causes trouble breathing), then you should do you best to
        cover your coughs and sneezes, and people who are caring for you should
        wear a face mask if they enter your room. Learn what to do if you are
        sick
      </h2>
      <h2 class="ion-padding-top">
        If you are not sick: You do not need to wear a mask unless you are
        caring for someone who is sick (and they are not able to wear a face
        mask). Facemasks may be in short supply and they should be saved for
        caregivers
      </h2>
    </ion-card-content>
  </ion-card>
</ion-content>
