<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="chw-selection-block">
    <ion-col size="10">
      <ion-item color="primary" class="selector-item-value" (click)="openOrganisationUnitModal($event)">
        <ion-text>{{(currentOrganisationUnit$ | async)?.name || 'Select Area'}}</ion-text>
        <ion-icon slot="end" name="add-circle"></ion-icon>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="!(currentOrganisationUnit$ | async)">
    <ion-col>
      <ion-card (click)="openOrganisationUnitModal($event)" >
        <ion-card-content class="ion-text-center">
          <ion-icon color="warning" size="large" name="alert-circle-outline"></ion-icon>
          <ion-card-subtitle class="ion-margin-top" color="warning">Select Area to view forms</ion-card-subtitle>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="currentOrganisationUnit$ | async">
    <ion-col>
      <ion-list class="ion-padding-top">
        <ion-item *ngFor="let program of programs" (click)="onSelectProgram($event, program)">
          <ion-avatar slot="start" *ngIf="false">
            <img src="assets/icon/rumor.png">
          </ion-avatar>
          <ion-label>
            <h2 class="ion-padding-bottom">{{program.displayName}}</h2>
            <p>34 Rumors</p>
          </ion-label>
          <!-- <ion-icon color="success" name="sync"></ion-icon> -->
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>
