<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="chw-selection-block">
    <ion-col size="10">
      <ion-item color="primary" class="selector-item-value" (click)="openOrganisationUnitModal($event)">
        <ion-text>{{(currentOrganisationUnit$ | async)?.name || 'Select Area'}}</ion-text>
        <ion-icon slot="end" name="add-circle"></ion-icon>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="!(currentOrganisationUnit$ | async) || (!isLoading && programs && programs.length === 0)">
    <ion-col>
      <ion-card (click)="openOrganisationUnitModal($event)">
        <ion-card-content class="ion-text-center">
          <ion-icon color="warning" size="large" name="alert-circle-outline"></ion-icon>
          <ion-card-subtitle class="ion-margin-top" color="warning">Select Area to view forms</ion-card-subtitle>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="currentOrganisationUnit$ | async">
    <ion-col class="ion-no-padding">
      <div *ngIf="isLoading" class="ion-padding">
        <app-progress-bar [isIndeterminateProcess]="true" [processMessage]="'Discovering forms...'">
        </app-progress-bar>
      </div>
      <div *ngIf="!isLoading">
        <ion-list class="ion-no-padding">
          <ion-item lines="none" class="border-bottom" *ngFor="let program of programs"
            (click)="onSelectProgram($event, program)">
            <ion-avatar slot="start">
              <div class="avatar-placeholder"></div>
            </ion-avatar>
            <ion-text class="ion-wrap">
              <h6>{{ program.displayName }}</h6>
            </ion-text>
          </ion-item>
        </ion-list>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
